<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestToDo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <input type="hidden" value="@Url.ActionContext.HttpContext.Request.Host/api/" id="api-href" />
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container justify-content-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TestToDo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TestToDo
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/backbone.marionette/jquery.js"></script>
    <script src="~/lib/backbone.marionette/json2.js"></script>
    <script src="~/lib/backbone.marionette/underscore.js"></script>
    <script src="~/lib/backbone.marionette/backbone.js"></script>
    <script src="~/js/models/task-model.js"></script>
    <script src="~/js/collections/tasks-collection.js"></script>
    <script src="~/js/Views/task-view.js"></script>
    <script src="~/js/Views/tasks-view.js"></script>
    <script src="~/js/App.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
